root = true

[*]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = false
trim_trailing_whitespace = false

[*.{cpp,cc,cxx,h,hpp,hh,inl}]
charset = utf-8-bom
end_of_line = crlf
indent_style = tab

[*.{py,yaml,yml,json,md}]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4

[*.{js,ts}]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
